<!doctype html>
<html lang="zh-CN">
<head>
<title>后台管理系统·{$pageName|default="后台主页"}</title>
{include file="Index@Common/meta" /}
{include file="Index@Common/header" /}
</head>
<body>
	{include file="Common/nav" /}
	<div class="container text-center">
		<div class"row">
			<h3>上传文件管理</h3>
			<div class="row"><hr></div>
			<div class="row">
				<div class="form-inline">
					<div class="form-group">
					  <label class="sr-only" for="serch">查 询</label>
					  <input type="text" class="form-control" id="cpf_serch" name="cpf_serch" placeholder="搜索公司">
					</div>
					<a href="javascript: void(0);" class="btn btn-default" id="cpf_serch_a">查询</a>
				</div>
			</div>
			<div class="row"><hr></div>
		</div>
	</div>
	<div class="container text-center fixed">
		<div class="row">
			<div class="col-xs-1"><h5><strong>序号</strong></h5></div>
			<div class="col-xs-3"><h5><strong>公司名称</strong></h5></div>
			<div class="col-xs-6"><h5><strong>文件<span class="hidden-xs">-图像或视频</span></strong></h5></div>
			<div class="col-xs-2"><h5><strong>管理</strong></h5></div>
		</div>
		<div class="row"><hr></div>
	</div>
	<div class="container text-center filehd" id="filehd"></div>
	<div class="container text-center filehd" id="curPage_File">
		{volist name="files" id="file"}
			<div class="row">
				<div class="col-xs-1">{$file['id']}</div>
				<div class="col-xs-3">{$file['company']}</div>
				<div class="col-xs-6">
					{if condition="in_array($file['fileType'], ['png', 'jpg', 'jpeg', 'bmp', 'gif'])"}
						<img class="img-thumbnail" src="/{$filePath}/{$file['fileUrl']}_thumb.{$file['fileType']}" alt="{$file['fileUrl']}">
						{elseif condition="in_array($file['fileType'], ['mp4'])" /}
						<video id="my-video" style="margin:0 auto;" class="video-js vjs-big-play-centered" controls preload="none" poster="" data-setup playsinline width="384" height="216">
						  <source src="/{$filePath}/{$file['fileUrl']}.{$file['fileType']}" type='video/{$file['fileType']}'>
						</video>
					{/if}
				</div>
				<div>

				</div>
			</div>
			<div class="row"><hr></div>
		{/volist}
	</div>
	<div class="container text-center fixed_page_File">
		{$files->render()}
	</div>

	{include file="Index@Common/footer" /}
	{include file="Index@Common/js" /}

</body>
</html>