<!doctype html>
<html lang="zh-CN">
<head>
<title>后台管理系统·{$pageName|default="后台主页"}</title>
{include file="Index@Common/meta" /}
{include file="Index@Common/header" /}
</head>
<body>
	{include file="Common/nav" /}
	<div class="container text-center">
		<div class"row">
			<p>你好:管理者{$Request.session.manager_who}，您已完成登录</p>
			<hr>
			<p>
				现在是：{:date("Y-m-d H:i:s")}
			</p>
			<hr>
			<p>
				请在菜单中选择要操作的内容。
			</p>
		</div>
	</div>
	{include file="Index@Common/footer" /}
	{include file="Index@Common/js" /}
	<script>
		//判断设备是否是手机还是电脑
		function isMobileClient() {
		    var userAgentInfo = navigator.userAgent;
		    var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");
		    var agentinfo = null;
		    for(var i = 0; i < Agents.length; i++) {
		        if(userAgentInfo.indexOf(Agents[i]) > 0) {
		            agentinfo = userAgentInfo;
		            break;
		        }
		    }
		    if(agentinfo) {
		        return true;
		    } else {
		        return false;
		    }
		}
		$(function(){

			if(isMobileClient())
			{
				// Tips
				layer.tips('点此展开菜单', '#navcal', {
				  tips: [4, '#999']
				});
			}
		});
	
	</script>

</body>
</html>