<!doctype html>
<html lang="zh-CN">
<head>
<title>后台管理系统·{$pageName|default="后台主页"}</title>
{include file="Index@Common/meta" /}
{include file="Index@Common/header" /}
</head>
<body>
	{include file="Common/nav" /}
	<div class="container text-center">
		<div class"row" id="ledhd">
			<div class="row">
				<div class="col-xs-4">
					<a class="btn btn-lg btn-success" href="javascript: void(0);" data-ev="max">窗口复位</a>
				</div>
				<div class="col-xs-4">
					<a class="btn btn-lg btn-success" href="javascript: void(0);" data-ev="oled">屏幕开机</a>
				</div>
				<div class="col-xs-4">
					<a class="btn btn-lg btn-success" href="javascript: void(0);" data-ev="cled">屏幕关机</a>
				</div>
				
			</div>
			<div class="row">*</div>

			<div class="row">
				<div class="col-xs-4">
					<a class="btn btn-lg btn-success" href="javascript: void(0);" data-ev="">放映图片</a>
				</div>

			</div>
		</div>
	</div>
	{include file="Index@Common/footer" /}
	{include file="Index@Common/js" /}

</body>
</html>