<!doctype html>
<html lang="zh-CN">
<head>
<title>四分之三·温馨提示</title>
{include file="Index@Common/meta" /}
{include file="Index@Common/header" /}
</head>
<body>
	<div class="jumbotron text-center managerhd">
		<div class="container">
			<h3>大屏幕播放系统</h3>
			<h3>温馨提示</h3>
		</div>
	</div>	

	<div class="container">
        <div class="well text-center">
            <?php switch ($code) {?>
                <?php case 1:?>
                <h3><!-- <i class="glyphicon glyphicon-ok"></i> -->处理成功</h3>
                <p class="success text-success"><?php echo(strip_tags($msg));?></p>
                <?php break;?>
                <?php case 0:?>
                <h3><!-- <i class="glyphicon glyphicon-remove"> -->处理失败</i></h3>
                <p class="error text-danger"><?php echo(strip_tags($msg));?></p>
                <?php break;?>
            <?php } ?>
            <p class="detail"></p>
            <hr style='background-color: #aaa;height:1px;border:none;'>
            <p class="text-info">
                即将 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait+3);?></b>
            </p>
        </div>
	    <div>
	        <span class="text-primary">IT Center</span>
	    </div>
	</div>

	<script type="text/javascript">
	    (function(){
	        var wait = document.getElementById('wait'),
	            href = document.getElementById('href').href;
	        var interval = setInterval(function(){
	            var time = --wait.innerHTML;
	            if(time <= 0) {
	                location.href = href;
	                clearInterval(interval);
	            };
	        }, 1000);
	    })();
	</script>


    {include file="Index@Common/footer" /}
    {include file="Index@Common/js" /}
</body>
</html>