<!doctype html>
<html lang="zh-CN">
<head>
<title>四分之三·{$pageName|default="大屏自助系统"}</title>
{include file="Common/meta" /}
{include file="Common/header" /}
</head>
<body>
	{include file="Common/nav" /}
	<div class="container text-center">
		<div class="row">
			<div class="well bg-info">
				<p><h3>支持文件类型</h3></p>
				<hr style='background-color: #aaa;height:1px;border:none;'>
				<p class="text-left text-info">
					支持常见的任何图像格式和视频格式：
				</p>

				<p class="text-left text-info">
					例如：
				</p>

				<p class="text-left text-info">
					<strong>图像格式：</strong><em>png格式、jpg格式</em>
				</p>

				<p class="text-left text-info">
					<strong>视频格式：</strong><em>mp4格式、mov格式、avi格式</em>
				</p>
				<hr style='background-color: #aaa;height:1px;border:none;'>
				<p class="text-left text-danger">
					图像或视频在不影响正常播放的情况下，请控制文件大小，以保证设备播放流畅度。
				</p>
				<p class="text-left text-info">
					推荐：
				</p>

				<p class="text-left text-info">
					图像文件大小：＜ 40MB
				</p>

				<p class="text-left text-info">
					视频文件大小：＜ 80MB
				</p>
			</div>
		</div>
	</div>
	{include file="Common/footer" /}
	{include file="Common/js" /}
</body>
</html>