<!doctype html>
<html lang="zh-CN">
<head>
<title>四分之三·{$pageName|default="大屏自助系统"}</title>
{include file="Common/meta" /}
{include file="Common/header" /}
</head>
<body>
	{include file="Common/nav" /}
	<div class="container text-center">
		<div class="row">
			<div class="well">
				<p><h3>大屏幕规格</h3></p>
				<hr style='background-color: #aaa;height:1px;border:none;'>
				<p class="text-left text-info">
					一、物理位置：3M层前台。
				</p>

				<p class="text-left text-info">
					二、屏幕阵列与组成：
					<p>
						<strong>7 x 2</strong>个三星大屏幕。单排7列，纵2排，共计14块屏幕。					
					</p>
				</p>

				<p class="text-left text-info">
					三、单屏参数：
				</p>
				<!-- 屏幕参数表 -->
				<div>
					<div>
						<table class="table table-bordered table-responsive text-center hidden-xs">
							<thead>
								<tr>
									<th colspan="5" class="text-center text-info">屏幕规格</th>
								</tr>
								<tr>
									<th>屏幕尺寸</th>
									<th>屏幕大小</th>
									<th>分辨率</th>
									<th>显示比例</th>
									<th>厂家</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>55寸</td>
									<td>长120cm、宽68cm</td>
									<td>1920px*1080px</td>
									<td>16:9</td>
									<td>三星</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="visible-xs-block">
						<p class="text-left"><strong>屏幕尺寸: </strong>55寸</p>
						<p class="text-left"><strong>屏幕大小：</strong>长120cm、宽68cm</p>
						<p class="text-left"><strong>分辨率：</strong>1920px*1080px</p>
						<p class="text-left"><strong>显示比例：</strong>16:9</p>
						<p class="text-left"><strong>厂家：</strong>三星</p>
					</div>
				</div>
				<hr style='background-color: #aaa;height:1px;border:none;'>
				<p class="text-right text-info">
					<a class="btn btn-info btn-sm" href="{:url('index/index/instruction', ['type' => ''])}">视频教程：图像制作说明</a>
					<a class="btn btn-info btn-sm" href="{:url('index/index/instruction', ['type' => 'video'])}">视频教程：视频制作说明</a>					
				</p>
				<hr style='background-color: #aaa;height:1px;border:none;'>
				<a name="reader"></a>
				<p><h3>作图说明书</h3></p>
				<p class="text-left text-info">
					一、<strong class="text-primary">制作尺寸说明</strong>(制作时使用尺寸)
					<p class="text-left text-info">
						由于单屏支持 1920 px * 1080 px；
					</p>
					<p class="text-left text-info">
						因此根据屏幕排列计算得出最适合的制作尺寸：						
					</p>
					<p class="text-left text-info">
						最适宽度为：1920 px * 7 px =	13440 px
					</p>
					<p class="text-left text-info">
						最适高度为：	1080 px * 2 px =	2160 px
					</p>
				</p>
				<p class="text-left text-info">
					二、<strong class="text-primary">成品尺寸说明</strong>(图像或视频制作完成后，将成品拉伸)
					<p class="text-left text-info">
						下面的项目，以画布大小13440px * 2160px为例
					</p>
					<p class="text-left text-info">
						放映设备和屏幕组合的显示比例同为16：9。
					</p>
					<p class="text-left text-info">
						大屏幕组合后，实际显示图像的设备<strong>随着屏幕被等比例缩放</strong>
					</p>
					<p class="text-left text-info">
						因此需要将已做成的图像或视频高度拉伸至<strong>16:9</strong>放映比例。
					</p>
					<p class="text-left text-info">
						根据公式： 宽度像素 ÷ 16 x 9  得出：
					</p>
					<p class="text-left text-info">
						(例：)你的项目宽度为13440时，高度应为： 13440 ÷ 16 x 9 = 7560px;
					</p>
					<p class="text-left text-info">
						此时，项目的大小为：13440px * 7560px，且在制作的电脑上<strong>被看成是变形</strong>。
					</p>
					<p class="text-left text-info">
						但是无须担心，大屏幕会将图像或视频正常显示为用13440px*2160px制作时的比例。
					</p>
				</p>
				<p class="text-left text-info">
					三、<strong class="text-primary">等比例制作，以便压缩文件大小</strong>
					<p class="text-left text-info">
						若图像或视频文件存储容量较大时，可以选择根据最佳制作尺寸，同比例进行缩放，以降低成品所占空间。
					</p>
					<p class="text-left text-info">
						例如：我们要制作一个视频。
					</p>
					<p class="text-left text-info">
						把最佳的尺寸缩小三倍（等比例缩小）13440px÷3,2160px÷3：得出 4480px * 720px；
					</p>
					<p class="text-left text-info">
						然后依照4480px * 720px创建视频项目。
					</p>
					<p class="text-left text-info">
						做完后，将高度按照16:9拉伸： 4480 ÷ 16 * 9 = 2520.
					</p>
					<p class="text-left text-info">
						最终视频大小为： 4480px * 2520px；
					</p>
				</p>
				
			</div>
		</div>
	</div>
	{include file="Common/footer" /}
	{include file="Common/js" /}
</body>
</html>