<!doctype html>
<html lang="zh-CN">
<head>
<title>四分之三·{$pageName|default="大屏自助系统"}</title>
{include file="Common/meta" /}
{include file="Common/header" /}
</head>
<body>
	{include file="Common/nav" /}
	<div class="container text-center tqbg">
		<div class="row">
			<div class="well">
				<p><h3>大屏幕规格</h3></p>
				<hr style='background-color: #aaa;height:1px;border:none;'>
				<p class="text-left text-info">
					一、物理位置：3M层前台。
				</p>

				<p class="text-left text-info">
					二、屏幕阵列与组成：
					<p>
						<strong>7 x 2</strong>个三星大屏幕。单排7列，纵2排，共计14块屏幕。					
					</p>
				</p>

				<p class="text-left text-info">
					三、单屏参数：
				</p>
				<!-- 屏幕参数表 -->
				<div>
					<div>
						<table class="table table-bordered table-responsive text-center hidden-xs">
							<thead>
								<tr>
									<th colspan="5" class="text-center text-info">屏幕规格</th>
								</tr>
								<tr>
									<th>屏幕尺寸</th>
									<th>屏幕大小</th>
									<th>分辨率</th>
									<th>显示比例</th>
									<th>厂家</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>55寸</td>
									<td>长120cm、宽68cm</td>
									<td>1920px*1080px</td>
									<td>16:9</td>
									<td>三星</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="visible-xs-block">
						<p class="text-left"><strong>屏幕尺寸: </strong>55寸</p>
						<p class="text-left"><strong>屏幕大小：</strong>长120cm、宽68cm</p>
						<p class="text-left"><strong>分辨率：</strong>1920px*1080px</p>
						<p class="text-left"><strong>显示比例：</strong>16:9</p>
						<p class="text-left"><strong>厂家：</strong>三星</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	{include file="Common/footer" /}
	{include file="Common/js" /}
</body>
</html>