<!doctype html>
<html lang="zh-CN">
<head>
<title>四分之三·{$pageName|default="大屏自助系统"}</title>
{include file="Common/meta" /}
{include file="Common/header" /}
</head>
<body>
	<div class="jumbotron text-center managerhd">
		<div class="container">
			<h1>大屏幕播放系统</h1>
			<h1>自助服务窗口</h1>
			<p>四分之三·区块链全球商业中<span>心</span></p>
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="/instruction">制作教程</a>
				<a class="btn btn-primary btn-lg" role="button" href="/upload">上传资料</a>
			</p>
			<p>
				<a class="btn btn-link" href="{:url('index/index/filetype')}">格式说明</a>
			</p>
		</div>
	</div>	
	<div class="container text-center">
		<h2>往期精彩回顾</h2>
	</div>

	<div class="container text-center">
		{volist name="car" id="cars"}
		<div class="img">
			<img class="img-thumbnail" src="/{$filePath}/{$cars['fileUrl']}_thumb.{$cars['fileType']}" alt="{$cars['fileUrl']}" title="{$cars['uptime']}"><br>
			{$cars['company']}
			<hr>
		</div>

		{/volist}

		
	</div>
	{include file="Common/footer" /}
	{include file="Common/js" /}
</body>
</html>