<!doctype html>
<html lang="zh-CN">
<head>
{include file="Common/meta" /}
{include file="Common/header" /}
</head>
<body>
	<div class="jumbotron text-center managerhd">
		<div class="container">
			<h1>大屏幕播放系统</h1>
			<h1>自助服务窗口</h1>
			<p>四分之三·区块链全球商业中<span>心</span></p>
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="/instruction">制作教程</a>
				<a class="btn btn-primary btn-lg" role="button" href="/upload">上传资料</a>
			</p>
		</div>
	</div>	
	{include file="Common/footer" /}
	{include file="Common/js" /}
</body>
</html>