<!doctype html>
<html lang="zh-CN">
<head>
<title>四分之三·{$pageName|default="大屏自助系统"}</title>
{include file="Common/meta" /}
{include file="Common/header" /}
{include file="Common/videoCdn" /}
</head>
<body>
	{include file="Common/nav" /}
	<div class="container text-center">
		<div class="row">
			<div class="well">
				<p><h3>视频制作说明</h3></p>
				<hr style='background-color: #aaa;height:1px;border:none;'>
				<p class="text-left">
					<a class="btn btn-info btn-sm" href="{:url('index/index/instruction', ['type' => ''])}">查看：图像制作说明</a>
					More>><a href="{:url('index/index/format')}#reader">原理说明与参考</a>
				</p>
				<div class="text-center">
					<video id="my-video" style="margin:0 auto;" class="video-js vjs-big-play-centered" controls preload="auto" poster="/video/Instructions_Video.jpg" data-setup="{}" playsinline>
					  <source src="/video/Instructions_Video.mp4" type='video/mp4'>
					  <p class="vjs-no-js">
					    To view this video please enable JavaScript, and consider upgrading to a web browser that
					    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					  </p>
					</video>
				</div>
				<div class="text-center">
					如果还有疑问，请仔细阅读：<a href="{:url('index/index/format')}#reader">原理说明与参考</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		// 视频自适应处理
		$(function(){
			var player = videojs('my-video', { fluid: true }, function () {
			           // console.log('Good to go!');
			           // this.play(); // if you don't trust autoplay for some reason  
			})
		});
	</script>
	{include file="Common/footer" /}
	{include file="Common/js" /}
</body>
</html>