<!doctype html>
<html lang="zh-CN">
<head>
<title>系统登录</title>
<title>后台管理系统·{$pageName|default="后台主页"}</title>
{include file="Index@Common/meta" /}
{include file="Index@Common/header" /}
</head>
<body>
	<!-- 顶部信息 -->
	<div class="jumbotron text-center" style="margin-bottom:0">
		<h3 class="hidden-xs">{$appName}</h3>
		<h5 class="visible-xs-block">{$appName}</h5>
	</div>

	<div class="container">
		<div class="row">
			<h3>出错了，请检查帐号或密码是否输入正确</h3>
			<a href="javascript:history.back(-1)">返回上一页</a>
		</div>
	</div>

</body>
</html>